<div mat-dialog-content class="modal">
    <img src="mockData/films/{{ card.id }}.jpeg" [alt]="card.name" class="modal__image" />
    <div class="modal__container">
        <h2 class="modal__heading">{{ card.name }}</h2>
        <h6 class="modal__subheading">{{ genreArr }}</h6>
        <h6 class="modal__subheading">{{ card.year }}</h6>
        <h6 class="modal__subheading">{{ card.description }}</h6>

        <div class="modal__buttons">
            <button mat-button [color]="isLiked ? 'accent' : 'primary'" (click)="like()">
                {{ isLiked ? 'Удалить из лучших фильмов' : 'Выбрать лучшим фильмом' }}
            </button>
            <button mat-button color="accent" mat-dialog-close>Закрыть</button>
        </div>
    </div>
</div>
