.catalog {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    padding: 37px 25px 40px;

    &__heading {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        margin: 0;
        color: #000000;

        &:not(:first-child) {
            margin-top: 40px;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 15px 10px;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 500px) {
        &__list {
            justify-content: center;
        }
    }

    &__subheading {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #797979;
        margin: 0;
    }

    &__form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 7px;
    }

    @media screen and (max-width: 500px) {
        &__form {
            justify-content: center;
        }
    }
}
